body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  margin: 15px;
  padding: 10px;
  background-color: darkgreen;
  color: wheat;
  display: inline-block;
  font-size: 16pt;
}

button {
  font-size: 15pt;
}
